* text=auto

/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.php-cs-fixer.php  export-ignore
/docs               export-ignore
/build              export-ignore
/test_files         export-ignore
/phpstan.neon       export-ignore
/phpunit.xml.dist   export-ignore
/README.md          export-ignore
/**/*Test.php       export-ignore
